@page "/subTipo"

@using QapaqMantenimiento.Shared;
@using CurrieTechnologies.Razor.SweetAlert2;
@using QapaqMantenimiento.Client.Services;

@inject SweetAlertService Sw;
@inject ISubTipoService subTipoService;

<h3>SubTipo</h3>

<a class="btn btn-success btn-sm mb-3" href="subTipo">Nuevo Subtipo</a>

<table class="table">
    <thead>
        <th>Subtipo Incidente</th>
        <th>Area Encargada</th>
        <th>Correo</th>
        <th>Tipo incidente</th>
        <th></th>
    </thead>
    <tbody>
        @if (listaSubtipo == null)
        {
            <tr>
                <td colspan="5" align="center">
                    <img style="width:50px" src="a"/>
                </td>
            </tr>
        }else
        {
            @foreach (var item in listaSubtipo)
            {
                <tr>
                    <td>@item.SubTipoIncidente</td>
                    <td>@item.AreaEncargada</td>
                    <td>@item.Correo</td>
                    <td>@item.IdTipoIncidente</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="subTipo @item.IdTipoIncidente">
                            <i class="oi oi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm ms-2" @onclick="(() => Eliminar(item.IdSubTipo))">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    List<SubTipoDTO>? listaSubtipo = null;

    protected override async Task OnInitializedAsync()
    {
        listaSubtipo = await subTipoService.Lista();
    }

    private async Task Eliminar(int id)
    {
        var resultado = await Sw.FireAsync(new SweetAlertOptions
        {
            Title = "Eliminar Subtipo",
            Text = "Deseas Eliminar ?",
            Icon = SweetAlertIcon.Question,
            ShowCancelButton=true
        });
        if (resultado.IsConfirmed)
        {
            var eliminado = await subTipoService.Eliminar(id);
            if (eliminado)
            {
                listaSubtipo = listaSubtipo.FindAll(e =>e.IdSubTipo != id);
            }
        }
    }
}
